    

     <% if crates.empty? %>
        <%='No Crate Found'%> 
     <%else%>
    <div class="ui container"id="items">
        <%crates.each do |crate_item|%>      
           <div id="item">
            <%=render crate_item%>
            </div>
        <%end%>
    </div>
      <%end%>
    
    
     
                
        
    


