<h1>All Users</h1>               
<div class="ui items">        
    <%@users.each do |user|%>
        <div class="item">
            <div class="segment content"><%= render 'shared/user_info', user: user %></div>
        </div> 
    <%end%>
</div>