<% object.each do |key,value|%>
        <%if value.present?%>
    
                <div class="ui <%=key%> message" id="error">
                <%=value%>
                </div>
                <h1></h1> 
        <%end%>
<%end%>


