<% object.each do |key,value|%>
        <%if value.present?%>
            <div class="ui container">
                <div class="ui <%=key%> message">
                <%=value%><i class="right icon close"></i>
                </div>
            </div>   
        <%end%>
<%end%>


