<div class="ui card">
  <div class="image">
      <%=link_to(image_tag(user.avatar.url), user) %>
  </div>
  <div class="content">
    <div class="header"><%=link_to user.alias, user %></div>
    <div class="meta">
        <span class="date"></span>
    </div>
    <div class="description">
    </div>
  </div>
  <div class="extra content">
  wewe
  </div>
</div>