<h2></h2>
<div class="ui container">
   <div class="ui relaxed divided list">
        <%@forum_cat.each do |categ| %>
           <table class="ui single line table">
            <thead>
            <tr>
            <th><h2 class="header"><%=link_to categ.name, categ%></h2> </th>
            <th></th>
            <th></th>
            </tr>    
            </thead>
           <tbody>
              <%postings(categ.id).by_last_comment.each do |post| %>
               <tr>
                   <td><div class="header"><%=link_to post.title, post , class: 'header'%></div></td>
                   <td>By: <%=link_to target_user(post.user_id).alias, @target_user%></td>
                   <td><%=time_ago_in_words(post.created_at)%> ago</td>
               </tr>
                <%end%>
           </tbody>    
           </table>
        <%end%>
    </div>
</div>