<div class="ui container no-break">

<div class="ui list">
  <div class="item">
    <i class="idea icon"></i>
    <div class="content">
      <div class="header"><a href="#about">About Crates</a></div>
    </div>
  </div>
  
  <div class="item">
    <i class="help circle icon"></i>
    <div class="content">
      <div class="header">Help</div>
      <div class="list">
        <div class="item">
          <i class="folder icon"></i>
          <div class="content">
            <div class="header"><a href="#password_assist">Password Assistance</a></div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
    
  <div class="item">
    <i class="spy icon"></i>
    <div class="content">
      <div class="header">Privacy</div>
      <div class="list">
        <div class="item">
          <i class="folder icon"></i>
          <div class="content">
            <div class="header"><a href="#how_we_collect">How We Collect Your Information</a></div>
          </div>
        </div>
        <div class="item">
          <i class="folder icon"></i>
          <div class="content">
            <div class="header"><a href="#protecting_your">Protecting Your Personal Information</a></div>
          </div>
        </div>
        <div class="item">
          <i class="folder icon"></i>
          <div class="content">
            <div class="header"><a href="#your_rights">Your Rights</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="item">
    <i class="info icon"></i>
    <div class="content">
      <div class="header"><a href="#disclaimer">Disclaimer</a></div>
    </div>
  </div>
  
  
</div>


<h2 id="about">About Crates</h2>
<p>The research project aims to create a crowd-sourced e-commerce business focusing on item trading: buying, selling and trading items with emphasis on unique items such as collectables, hand-crafted, one-of-a-kind, artworks and signed items. The crowd-sourced data will mainly be the items for sale and item tags while the e-commerce business will be user trading between items and/or money through real life meetups.</p>

<h2 id="password_assist">Password Assistance</h2>
<p>
If you forget your password, or experience any problem signing in, reset your password by clicking on the "Forget your password?" link.
An email including a link to reset your password will be sent to your email address.
</p>

<h2 id="how_we_use">How We Use Your Information</h2>
Information we collect is used only and strictly for the purposes of providing our services, processing orders, and for providing customer support whenever it is needed. We may also use the information we collect to perform statistical analysis and to monitor online activities in order to improve the quality of our website and services.

<h2 id="posting_crates">Posting Crates</h2>
<p>
All advertisements you post must conform to our policies and guidelines outlined here.
One Product Per Ad. You may not post multiple unrelated items in one (1) advertisement.
No double entries or duplicate ads. You are allowed only one (1) advertisement for the same product or service. You are allowed to post an advertisement similar to a previous advertisement only if the previous advertisement is already deleted or has already expired.  Deleted or expired advertisements may be reposted.
</p>

<h2 id="how_we_collect">How We Collect Your Information</h2>
<p>We collect and store your personal information you enter on our website, including your name, gender, date of birth,phone number, and email address. Some other information may be collected and stored automatically, including records and details of your crates, IP (Internet protocol) address, and URL (Uniform Resource Locator) of the website from which our website is linked. We may be affiliated with third-party companies for jointly providing certain types of services, and such companies may provide us with personal information, but it will not be without your prior consent.</p>

<h2 id="protecting_your">Protecting Your Personal Information</h2>
<p>
    We implement a number of technological measures against unauthorized access and computer viruses to ensure loss, corruption, alteration, and theft of personal information are effectively prevented.
    Your personal information is protected by your password.
    We use a technology called SSL (Secure Socket Layer) to encrypt your personal information when you enter it on our website, and when you place your order. The technology effectively prevents theft and alteration of your personal information when it's transmitted over the Internet.
</p>


<h2 id="your_rights">Your Rights</h2>
<p>
    We acknowledge your rights to disclose, make changes to, discontinue the use of, and delete your own personal information we have collected, and when demanded or requested, we respond without objection, as soon as possible.
</p>


<h2 id="disclaimer">Disclaimer</h2>
<p>
We assume no responsibility whatsoever for any consequence relating directly or indirectly to any action you take, or fail to make, based on the content, information, services or other materials found in this system. We do not guarantee, and will not be responsible for any damage and/or loss related to the accuracy, completeness and/or timeliness of the contents found in the system.
</p>
</div>