


<div class="ui container">

    <div class="ui top attached tabular menu" id="dash_tab">
      <a class="item active" data-tab="all_crates">All Crates</a>
      <a class="item" data-tab="act_crates">Active Crates</a>
      <a class="item" data-tab="inact_crates">Inactive Crates</a>
      <a class="item" data-tab="fin_crates">Finished Crates</a>
    </div>
    
    <div class="ui bottom attached segment" id="dash_cont">
      
        <div class="ui tab" data-tab="all_crates">
              
        </div>
        <div class="ui tab" data-tab="act_crates">
            <%= render 'crates/crate_collection', crates: @active_crates %>
        </div>
        
        <div class="ui tab" data-tab="inact_crates">
            <%= render 'crates/crate_collection', crates: @inactive_crates %>
        </div>
        <div class="ui tab" data-tab="fin_crates">
              
        </div>
        
        
    </div>
    
</div>


