<div id="slideshow">
    <div>
        <%= image_tag("/images/bann2.png", class: 'ui massive image') %>
    </div>
    <div>
        <%= image_tag("/images/bann3.png", class: 'ui massive image') %>
    </div>
    <div>
        <%= image_tag("/images/bann1.png", class: 'ui massive image') %>
    </div>
</div>