<h3 class="ui dividing header">Got a question? Post a Query!</h3>    
            <%=form_for(query,url:{controller:'queries',action: 'create'}, html:{class:'ui reply form'})do|f|%>
               <%=render 'shared/form_error_messages', object: f.object %>
                <div class="field">
                 <label>Title</label>
                  <%= f.text_field :title ,class: 'ui field'%>
                  <label>Body</label>
                  <%= f.text_area :description ,class: 'ui field' %>
                  <%= f.hidden_field :crate_id, value: @crate.id%>
                </div>
                <%= button_tag(type: 'submit', class: "ui submit labeled icon button") do %>
                <i class="edit icon"></i> Ask
                <% end %>
<% end %> 