/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require reset
 *= require normalize
 *= require_tree .
 *= require_self
 */



da{
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}

vanilla {
  background-color : rgb(243,226,199) !important;
}

.pusher {
    min-height: 100%;
}

.shadow {
    -webkit-box-shadow: -1px 11px 14px -5px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: -1px 11px 14px -5px rgba(0,0,0,0.75) !important;
    box-shadow: -1px 11px 14px -5px rgba(0,0,0,0.75) !important;
}

.body{
    background-color: antiquewhite !important;
    width: 100%;

}

#content{
    width: 100%;
}

#loader{    
    z-index: 99;
}

.hidden{
    visibility: hidden;
    
}
/* masonry use */

#masonry{
    max-width: 1500px;
    min-width: 100%;
    min-height: 1000px;
}


.mason-item{
    width: 200px;
    margin: 7px;
}

#items{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; /* simple clearfix */
}

#item{
    float: left;
    max-width: 23%;
    min-width: 200px;
    margin-top: 10px;
    margin: 1% 1% 0 1%;
    border-color: gainsboro;
    border-width: 1px;
}


#status_tag{
    border-radius: 0px;
}

img.display{
    display: block;
    width: inherit;
}
#content_wrapper{
    border-width: 0px;
    border-style: none;
    padding: 1em;
}

@media only screen and (max-width : 723px){

    #items > #item{
        min-width: 30.67%;
        margin: 1% 1% 0 1%;
    }
    
}

@media only screen and (max-width : 480px){

    #items > #item{
        min-width: 46%;
        margin: 1% 1% 0 1%;
    }
    
}

#error{
    margin-top: 0px !important;
}
td{
    width: 30% !important;
}