/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require reset
 *= require normalize
 *= require_tree .
 *= require_self
 */

da{
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}

vanilla {
  background-color : rgb(243,226,199) !important;
}

.pusher {
    min-height: 100%;
}

.shadow {
    -webkit-box-shadow: -1px 11px 14px -5px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: -1px 11px 14px -5px rgba(0,0,0,0.75) !important;
    box-shadow: -1px 11px 14px -5px rgba(0,0,0,0.75) !important;
}

.body{
    background: rgb(243,226,199);
    width: 100%;

}
*{
    border-radius: 0px !important;
}
#content{
    width: 100%;
}

#loader{    
    z-index: 99;
}

.hidden{
    visibility: hidden;
    
}