// Place all the styles related to the Crates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#crate_grid{
    padding-left: 1em;
    padding-right: 1em;
        
}

.hidden {
    visibility: hidden;
}

#advSearch{
    margin-bottom: 2em;
}

#items{
    padding-top: 30px;
    padding-bottom: 30px;
}