// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home{
    
}
.ui.raised.segment{
    background: rgb(243,226,199);   
}
.ui.huge.crate.button{
    background: rgb(243,226,199);
}

#userContainer{
    min-height: 400px;
}

#dash_cont{
    min-height: 1000px !important;
}

 #avatar {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    float: left;
}
#avatar img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}