// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#hd2{
    margin-bottom: -20px;
}

#grid{
    max-width: 100%;
    align-content: center !important;
    margin: 0px !important;
}
#col1{
    min-width: 300px ;
    max-width: 30% !important;

}

#col2{
    min-width: 60% !important;
    max-width: 60% !important;
}