// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui.raised.segment.show{
    background-color: rgb(243,226,199);
    border-radius: 0;
    border-width: 0px;
    text-align: center;
}

#us_su{
    background-color: rgb(243,226,199);
    border: none;
}

#showName{
    width: 300px;
    margin-bottom: 0px;
    border-radius: 0px;
    border: none;
    background-color: rgb(243,226,199);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#showItem{
    margin-bottom: 2em;
    max-width: 250px;
}
#ui.raised.segment{
    -webkit-box-shadow: -1px 11px 14px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 11px 14px -5px rgba(0,0,0,0.75);
    box-shadow: -1px 11px 14px -5px rgba(0,0,0,0.75);
}