<h2 id="about">About Crates</h2>
<p>The research project aims to create a crowd-sourced e-commerce business focusing on item trading: buying, selling and trading items with emphasis on unique items such as collectables, hand-crafted, one-of-a-kind, artworks and signed items. The crowd-sourced data will mainly be the items for sale and item tags while the e-commerce business will be user trading between items and/or money through real life meetups.</p>


<h2>How We Collect Your Information</h2>
<p>We collect and store your personal information you enter on our website, including your name, gender, date of birth,phone number, and email address. Some other information may be collected and stored automatically, including records and details of your crates, IP (Internet protocol) address, and URL (Uniform Resource Locator) of the website from which our website is linked. We may be affiliated with third-party companies for jointly providing certain types of services, and such companies may provide us with personal information, but it will not be without your prior consent.</p>

<h2>Protecting Your Personal Information</h2>
<p>
    We implement a number of technological measures against unauthorized access and computer viruses to ensure loss, corruption, alteration, and theft of personal information are effectively prevented.
    Your personal information is protected by your password.
    We use a technology called SSL (Secure Socket Layer) to encrypt your personal information when you enter it on our website, and when you place your order. The technology effectively prevents theft and alteration of your personal information when it's transmitted over the Internet.
</p>


<h2>Your Rights</h2>
<p>
    We acknowledge your rights to disclose, make changes to, discontinue the use of, and delete your own personal information we have collected, and when demanded or requested, we respond without objection, as soon as possible.
</p>