
   <div class="item">
       <div class="content">
         <div class="meta">
             <div class="ui inline fields">
                 <div class="ui field">
                     Reporter :<%=link_to target_user(report.reporter).alias, @target_user %>
                 </div>
                 <div class="ui field">  
                     Reported :<%=link_to target_user(report.reported_id).alias, target_user(report.reported_id)%>        
                 </div>
             </div>
             <div class="description">
                 Details: <%=report.description%>
             </div>    
         </div>
       </div>
    </div>