<div class="ui vertical footer segment" id="footer">
    <div class="ui center aligned container">
        <%=link_to image_tag("/images/logo.png", class: 'ui centered mini image'),root_path %>
      <div class="ui horizontal small divided link list">
        <a class="item" href="#">About Crates</a>
        <a class="item" href="#">Contact Us</a>
          <%=link_to 'Help desk',help_path%>
      </div>
    </div>
  </div>