<div class="ui stackable top attached tabular menu" id="user_menu">

  <div class="item"><%=link_to 'Community',community_path%></div>
        
        
        <div class="item">
            <%=link_to 'Garage', current_user%>
        </div>

  
  <div class="item">
            <%=link_to 'Add Crate', new_crate_path %>
  </div>
        
</div>